.header_outer_container{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
   /* background-color: rgb(148, 132, 132); */
   /* background-color: rgb(20,20,20); */
   background-color: transparent;
   height: 10vh;
   color: white;
   transition: all 0.5s;
   transition-timing-function: ease-in;
   z-index: 1;
   /* background-color: red;   */
}
.nav_black{
   background-color: rgb(20,20,20);
}
.header_container{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
}
.header_left ul{
  width: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
  /* background-color: lightblue; */
}

.header_left a{
  color: #fff;
  text-decoration: none;
}
.header_right ul{
  width: 150%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
  /* background-color: lightgreen; */
}
.browse{
 display: none;
}
.header_left ul li:nth-child(2) {
  display: none;
}
/* .browse{
display: none;
  } */
 @media screen and (max-width: 768px){
 .header_left ul li{
  display: none;
  position: absolute;
 }
 .browse{
 display: block;
 
}
.bg-body-tertiary {
  background-color: transparent !important; 
}
.DropDownContent{
  background-color: black;
  font-size: 25px;
  /* font-weight: 800; */
  color: grey;
  border: none !important;
}
.header_left ul{
  display: none;
}
#basic-nav-dropdown{
  color: #fff;
}
}
 /* .navLink{
  margin-top: 200px;
  }} */
/* .DropDownContent {
list-style: none;
  background-color: black;
  width: 300px;
  text-decoration: none;  */
  /* margin-top: 200px; */
/* }
.DropDownContent NavDropdown.Item{
 margin-top: 200px; 
} */
 .header_left ul li a   {
  display: flex;
 }
 .header_left ul li:nth-child(2), .header_left ul li:first-child {
  display: block;
  
}
/* .browse{
display: block;
  }
.me-auto{
  display: flex;
  justify-content: left;
  margin-top: 130px;
}

 } */
 /* drop-down */
 /* .me-auto{
  display: flex;
  justify-content: left;
  margin-top: 130px;
} */

/* #basic-nav-dropdown{
text-decoration: none;
color: white;
position:absolute;
  font-size: large;
} */
/* .DropDown{
margin-top: 10px ;
margin-left: 30px;

} */

/* #basic-nav-dropdown p{
  display: inline-grid;
  
  
} */
/* .DropDownContent {
list-style: none;
  background-color: black;
  width: 300px;
  text-decoration: none;
  margin-top: 200px;
} */
/* .DropDownContent p{
  
  list-style: none;
color:grey;
text-align: center;
padding-bottom: 10px;
text-decoration: none;
} */
